language: php

php:
 - 5.3.3
 - 5.3
 - 5.4

before_install:
 - composer install

before_script:
 - cd tests
 - cp phpunit.xml.dist phpunit.xml

script:
 - ../vendor/bin/phpunit

notifications:
  email: "widmogrod@gmail.com"