language: php

php:
 - 7.2
 - 7.3
 - 7.4
 - hhvm

matrix:
 allow_failures:
  - php: hhvm

before_install:
 - composer install --dev --prefer-dist

script:
 - composer test
 - composer check-code

notifications:
  email: "widmogrod+zf2-assetic-module@gmail.com"
