<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php"
         colors="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="src">
            <directory suffix=".php">./tests/AsseticBundleTest/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>